body {
  background-color: rgb(63, 65, 79);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

input {
  background-color: rgb(217, 217, 217);
  padding: 10px;
  border: none;
  margin-left: 5px;
  margin-top: 5px;
  width: 15%;
}

input:nth-of-type(1n+4) {
  width: 10%;
}

input:nth-of-type(1n+4):hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

p {
  font-weight: bold;
}

.eingabe {
  position: relative;
  top: 100px;
  left: 5%;
}

.ergebnis {
  display: block ruby;
}

/* Für die Positionierung des Fragezeichens
.fragezeichen {
  display: block;
  display: ruby-text-container;
  left: 15%;
  position: relative;
  bottom: 10%;
}
*/