body {
  background-color: rgb(63, 65, 79);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

input {
  background-color: rgb(217, 217, 217);
  padding: 10px;
  border: none;
  margin-left: 5px;
  margin-top: 25px;
  width: 15%;
}

input:nth-of-type(1n+4) {
  width: 10%;
}

input:nth-of-type(1n+4):hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

p {
  font-weight: bold;
}

.eingabe {
  position: relative;
  top: 100px;
  left: 5%;
}

.ergebnis {
  display: block ruby;
}

/* Für die Positionierung des Fragezeichens */
.fragezeichen {
  display: ruby-text-container;
  left: 16%;
  bottom: 10px;
  position: relative;
}

/* Dark und Light Mode */

.dark_light {
  border-radius: 10px;
}

.light {
  background-color: rgb(255, 255, 255);
  color: black;
  height: 100%;
}

.dark {
  background-color:rgb(63, 65, 79);
  color: white;
  height: 100%;
}

/* Für die Quadratische Schadensberechnung */

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}
.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

/* Footer */

.footer {
  margin-top: 100%;
}