body {
  background-color: rgb(63, 65, 79);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

input {
  background-color: rgb(217, 217, 217);
  padding: 10px;
  border: none;
  margin-left: 5px;
  margin-top: 25px;
  width: 15%;
}

input:nth-of-type(1n+4) {
  width: 10%;
}

input:nth-of-type(1n+4):hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

p {
  font-weight: bold;
}

.submitHover {
  width: 10%;
}

.submitHover:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.eingabe {
  position: relative;
  top: 100px;
  left: 5%;
}

.ergebnis {
  display: block ruby;
  padding: 10px;
}

.infos {
  color: rgb(229, 0, 0);
  padding-left: 10px;
}

.titel {
  font-size: 20pt;
}

/* Für die Positionierung des Fragezeichens */
.fragezeichen {
  display: ruby-text-container;
  left: 16%;
  bottom: 10px;
  position: relative;
}

/* Dark und Light Mode */

.dark_light {
  border-radius: 12px;
  border: none;
  padding: 5px;
  position: relative;
  margin: 2%;
}

.dark_light:hover {
  color: white;
  background-color: black;
}

.light {
  background-color: rgb(255, 255, 255);
  color: black;
  height: 100%;
}

.dark {
  background-color:rgb(63, 65, 79);
  color: white;
  height: 100%;
}

/* Für die Quadratische Schadensberechnung */

.collaps_posi {
  margin-top: 10%;
  margin-left: 5%;
  width: 100%;
  padding: 10px;
}

.collapsible .content {
  padding: 6px;
}

.collapsible .header {
  border-bottom: 2px solid white;
  width: 55%;
  padding: 6px;
  cursor: pointer;
}

/* Bilder */

.bild {
  position: absolute;
  left: 70%;
  top: 100px;
  width: 400px;
}

/* Footer */

.footer {
  margin-top: 100%;
}